$blue1: #3C429E;
$blue2: #4C52AD;
$yellow1: #FAC742;
$white: #fff;
$grey1: #EDEDED;
$shadow-dark: rgba(0,0,0,0.3);
$shadow-light: rgba(255,255,255,0.1);


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

app-root {
	width: 100%;
}

body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 16px;
	background-color: $blue1;

	display: flex;
	justify-content: center;
	align-items: center;
}

.container-app {
	background-color: $blue2;
	border-radius: 20px;
	box-shadow: 10px 10px 10px $shadow-dark;
}

.upper-data {
	position: relative;
	overflow: hidden;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	background-position: center;
    background-size: cover;
	background-repeat: none;

	.weather-data {
		position: relative;
		z-index: 1;
		height: 450px;
		background-color: $shadow-dark;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.location {
		color: $white;
		text-align: center;
		font-size: 1.2em;
	}

	.location-icon {
		width: auto;
		height: auto;
	}
	
	.temperature {
		color: $white;
		font-size: 4em;
		text-align: center;
		font-weight: 900;
		margin: 20px 0;
	}
}

.lower-data {
	position: relative;
	overflow: hidden;
	height: 50%;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	padding: 1em 1em 0 1em;
	display: flex;
	flex-direction: column;

	.more-info-label {
		color: $white;
		font-weight: 900;
	}
	
	.more-info-container {
		flex: 1;
		background-color: $shadow-light;
		border-bottom-left-radius: 20px;
		border-bottom-right-radius: 20px;
		margin-top: 1em;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		padding: 20px 0;
		overflow: hidden;
	}
	
	.info-block {
		width: 50%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	
	.info-block-label {
		margin-top: 50px;
		width: 50%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	
		i {
			font-size: 2em;
	
		}
	
		span {
			color: $white;
			font-size: 0.8em;
			margin-top: 20px;
		}
	}
	
	.info-block-value {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		color: $white;
	}

	.mc {
		font-weight: 900;
		margin: 5px 0;
		width: 100%;
		text-align: center;
		* {
			color: $blue1!important;
			text-decoration: none;
		}
	}
}

.search {
	margin: 1em 0;
	text-align: center;

	input {
		background-color: $shadow-light;
		outline: none;
		border: none;
		border-radius: 20px;
		padding: 1em;
		color: $grey1;
		font-size: 0.8em;
		text-align: center;

	}
}